@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  width: 100%;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
  .navbar .hamburger-lines {
	display: none;
  }
  
  .navbar {
	box-shadow: 0px 5px 10px 0px #aaa;
	position: fixed;
	width: 100%;
	background: #155f4e;
	color: #000;
	opacity: 0.85;
	height: 70px;
	z-index: 12;
  }
  
  .navbar-container {
	display: flex;
	justify-content: space-between;
	height: 64px;
	align-items: center;
	margin-top: 5px;
  }
  
  .menu-items {
	order: 2;
	display: flex;
  }
  
  .menu-items li {
	list-style: none;
	margin-left: 1.5rem;
	font-size: 1rem;
	transition: all 0.3s ease-in-out;
  }
  
  .menu-items a {
	text-decoration: none;
	color: rgb(167, 167, 167);
	font-weight: 500;
	transition: color 0.3s ease-in-out;
  }
  
  .menu-items a:hover {
	color: #ffffff;
	transition: color 0.3s ease-in-out;
  }
  
  .menu-items li:hover{
	transform: translateY(-2px);
  }
  
  .logo {
	order: 1;
	font-size: 2.3rem;
	margin-bottom: 1rem;
	width: 100px;
	height: 40px;
  }

  .logo-index{
    margin-top: 22px;
    margin-left: 42px;
  }

@keyframes nav-animations{
  100%{
    transform: translateY(-5px);
    text-shadow: 0 0 40px rgb(130, 243, 96);
  }
}


/* ............//// Showcase styling ////......... */

.showcase-area {
  height: 100vh;
  background: linear-gradient(
      rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)
    );
}

.showcase-container {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  font-size: 1.6rem;
  cursor: grab;
  width: 100wh;
}

.swiper-pagination{
    position: absolute;
    transform: translateY(200px);
    color: #333;
}

.swiper-button-next{
  position: absolute;
  transform: translate(-120px, 120px) scale(0.5);
  color: #333;
}

.swiper-button-prev{
  position: absolute;
  transform: translate(120px, 120px) scale(0.5);
  color: #333;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
}

/* ......//about us//...... */

#about {
  padding: 50px 0;
  background: #f5f5f7;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 2.3rem;
}

#about p {
  font-size: 1.2rem;
  color: #555;
}

#about .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;
}


.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
}



.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
  border-radius: 20px;
}

/* ..........////motos///........... */

#motos {
  padding: 5rem 0 10rem 0;
  height: 100vh;
}

#motos h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #555;
}

.motos-wrapper{
  margin-top: 100px;
}

.motos-container {
  display: flex;
  justify-content: space-between;
}

.motos-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-container {
  margin: 0 1rem;
  position: relative;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 1.5rem;
}

.img-content a {
  font-size: 1.2rem;
  transform: translateY(30px);
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;
  border-radius: 20px;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}
/* ........./ mapa /.......... */

#mapa{
  background-color: rgb(252, 252, 252);
}

#mapa h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #555;
}

.mapa-container{
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr)); 
  grid-template-rows: 1fr; 
  gap: 5px 5px; 
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
} 

.mapa-info{
  display: flex;
  height: 100%;
  font-size: 1.2rem;
  color: #555;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.mapa-info li{
  display: flex;
  align-items: center;
  height: 100%;
}

.mapa-info li:nth-child(odd){
  background-color:#f5f5f7;
}
.mapa-info li:nth-child(even){
  background-color:#fff;
}

/* ........ Contact Us........... */

#contact {
  padding: 5rem 0;
  background: rgb(226, 226, 226);
}

.contact-container {
  display: flex;
  background: #fff;
}

.contact-img {
  width: 50%;
}

.contact-img img {
  display: block;
  height: 400px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  outline: none;
  padding: 1rem 0;
  resize: none;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.form-container a {
  font-size: 1.3rem;
}

#footer h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 2.6rem;
  font-weight: 500;
  color: #fff;
  background: rgb(65, 65, 65);
}

/* ......../ catalogo /.......... */
.card-container img{
  align-self: center;
  transition: all 0.3s ease-in-out;
}

.card-container img:hover{
  transform: scale(1.1);
}

#catalogo h3{
  text-align: center;
  margin-top: 0px;
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .showcase-container{
    height: 70vh;
    margin-left: 10px;
  }

  .swiper-pagination{
    transform: translateY(20px);
  }

  .swiper-button-next{
    transform: translate(-10px, 90px) scale(0.5);
  }

  .swiper-button-prev{
    transform: translate(10px, 90px) scale(0.5);
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #155f4e;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
  }

  .navbar .menu-items a{
    color: #fff;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;

  }

  .logo-index{
    transform: translateY(-15px);
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ about /......... */

  .about-wrapper{
    margin-top: 0px;
  }

  .about-img img{
    height: 100%;
    width: 100%;
  }

  /* ......./ motos /......... */

  #motos{
    height: 165vh;
  }

  .motos-container {
    flex-direction: column;
    align-items: stretch;
  }

  .moto-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .moto-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container {
    margin: 0;
  }

  /* ......./ mapa /......... */

  .mapa-info-container{
    height: 100vh;
  }
}

@media (max-width: 500px) {

  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .mapa-info-container {
    flex-direction: column;
    text-align: center;
    align-items: stretch;
  }

  .food-menu-container img {
    margin: auto;
  }

  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1210px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }

  .mapa-info-container{
    height: 40vh;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr)); 
  }

}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }

  
}


.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #a3a3a3;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	animation-name: switch-color;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes switch-color{
	100%{
		background: #117964;
	}
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 200px;
	height: 150px;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #117964;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 12px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}
